//eyctpeu.jfrog.io/artifactory/api/npm/eyctxd-motif-npm-prod-eu/:_password=QUtDcDhtWndNcFZQUkVCZzZ5RGtUQURYWXRVaWgzTjF5VExWMTRTN1JybWJmVGFoNzM4aVJ1V1hRRHhKanNvSGpHZmJEMTlZcw==
//eyctpeu.jfrog.io/artifactory/api/npm/eyctxd-motif-npm-prod-eu/:username=priyanka.shinde1@ey.com
//eyctpeu.jfrog.io/artifactory/api/npm/eyctxd-motif-npm-prod-eu/:email=priyanka.shinde1@ey.com
//eyctpeu.jfrog.io/artifactory/api/npm/eyctxd-motif-npm-prod-eu/:always-auth=true
@ey-xd:registry=https://eyctpeu.jfrog.io/artifactory/api/npm/eyctxd-motif-npm-prod-eu/
always-auth=true
registry=https://registry.npmjs.com/

