<?xml version="1.0"?>    
<configuration>    
 <system.webServer>    
   <rewrite>    
     <rules>    
       <rule name="React Routes" stopProcessing="true">    
         <match url=".*" />    
         <conditions logicalGrouping="MatchAll">    
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />    
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />    
          <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />    
         </conditions>    
         <action type="Rewrite" url="/" />    
       </rule>    
     </rules>    
   </rewrite> 
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Content-Security-Policy" value="default-src * 'self' app.powerbi.com login.microsoftonline.com login.windows.net login.live.com; script-src * 'self'; style-src 'unsafe-inline' 'self'; img-src * 'self' data: https:; frame-ancestors 'self' app.powerbi.com login.microsoftonline.com https://login.windows.net login.windows.net login.live.com" />        
      </customHeaders>
    </httpProtocol>    
   <staticContent>    
     <remove fileExtension=".woff" />
     <remove fileExtension=".woff2" />
     <remove fileExtension=".json" />
     <mimeMap fileExtension=".woff" mimeType="font/woff" />
     <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
     <mimeMap fileExtension=".json" mimeType="application/json" />
     <clientCache cacheControlMode="DisableCache" />
  </staticContent>
 </system.webServer>    
</configuration>  