.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
}

.container::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: #26a8ab; */
  /* background-color: light-dark(var(--mantine-color-lightBlue-4), #000); */
  z-index: 1; /* Ensures the overlay is on top of the background image */
}

.container {
  display: flex;
  justify-content: end; /* centers horizontally */
  padding-right: rem(64px);
  align-items: center; /* centers vertically */
  height: 100vh;
  width: 100vw;

  background-image: url('/images/bg-image.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.containerContent {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}
